{
  "extends": ["wesbos/typescript"],
  "globals": {
    "globalThis": "readonly"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "react/prop-types": "off"
  }
}
