.hero {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 88px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: var(--hiq-html-background-color);
    background: linear-gradient(
      80deg,
      rgba(0, 0, 0, 0.05) 0%,
      var(--hiq-color-gray-8) 100%
    );
    transform-origin: 0;
    transform: skewY(-12deg);
  }

  &__copy {
    position: relative;
    z-index: 1;
  }

  &__cta {
    margin-bottom: 40px;
  }

  &__figure {
    position: relative;

    svg {
      width: 100%;
      height: auto;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0;
      animation: fadein 2s forwards;
    }

    &::before {
      top: -57.8%;
      left: -18%;
      width: 152.84%;
      height: 178.78%;
    }

    &::after {
      top: -25.6%;
      left: 60.6%;
      width: 57.2%;
      height: 87.88%;
      background-image: url("../../content/assets/hero-top-illustration.svg");
    }
  }
}

/* theme the background SVG  */
[data-theme="light"] {
  .hero__figure::before {
    background-image: url("../../content/assets/hero-back-illustration-light.svg");
  }
}

[data-theme="dark"] {
  .hero__figure::before {
    background-image: url("../../content/assets/hero-back-illustration.svg");
  }
}

/* styles for boxes */
.hero__box {
  position: absolute;
  top: 0;
  will-change: transform;

  &--01,
  &--02,
  &--03,
  &--04,
  &--08,
  &--09 {
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform-origin: 100% 100%;
    }
  }

  &--01 {
    left: 82%;
    top: 41.9%;
    width: 28.03%;
    height: 37.37%;
    background: linear-gradient(
      to left top,
      var(--hiq-color-primary),
      rgba(0, 0, 0, 0)
    );
    transform: rotateZ(45deg);

    &::before {
      background: linear-gradient(
        to left,
        var(--hiq-color-gray-8) 0%,
        rgba(0, 0, 0, 0) 60%
      );
      transform: rotateZ(45deg) scale(1.5);
    }
  }

  &--02 {
    left: 43%;
    top: 64.1%;
    width: 37.87%;
    height: 50.5%;

    background: linear-gradient(
      to left top,
      var(--hiq-color-primary),
      rgba(0, 0, 0, 0)
    );
    transform: rotateZ(-45deg);

    &::before {
      background: linear-gradient(
        to top,
        var(--hiq-color-primary) 0%,
        rgba(0, 0, 0, 0) 60%
      );
      transform: rotateZ(-45deg) scale(1.5);
    }
  }

  &--03 {
    left: 60%;
    top: -56.8%;
    width: 56.81%;
    height: 75.75%;
    background: linear-gradient(
      to left top,
      var(--hiq-color-primary),
      rgba(0, 0, 0, 0)
    );

    &::before {
      background: linear-gradient(
        to left,
        var(--hiq-color-primary) 0%,
        rgba(0, 0, 0, 0) 60%
      );
      transform: rotateZ(45deg) scale(1.5);
    }
  }

  &--04 {
    left: 35%;
    top: -8%;
    width: 45.45%;
    height: 60.6%;
    background: linear-gradient(
      to left top,
      var(--hiq-color-primary),
      var(--hiq-color-gray-8)
    );
    transform: rotateZ(-135deg);
    opacity: 0.8;

    &::before {
      background: rgba(255, 255, 255, 0.1);
      transform: rotateZ(-45deg) scale(1.5);
    }
  }

  &--05,
  &--06,
  &--07 {
    background-color: var(--hiq-color-gray-8);
    box-shadow: -20px 32px 64px rgba(0, 0, 0, 0.25);
  }

  &--05 {
    left: 0;
    top: 13.3%;
    width: 64%;
    height: 73.7%;
    transform: perspective(500px) rotateY(-15deg) rotateX(8deg) rotateZ(-1deg);
  }

  &--06 {
    left: 45.5%;
    top: 6.3%;
    width: 30.3%;
    height: 40.4%;
    transform: rotateZ(20deg);
  }

  &--07 {
    left: -12%;
    top: 42.4%;
    width: 12.12%;
    height: 16.16%;
    transform: rotateZ(20deg);
  }

  &-08 {
    left: 10%;
    top: 81.6%;
    width: 19.51%;
    height: 26.01%;
    background: var(--hiq-color-primary);
    transform: rotateZ(-22deg);

    &::before {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.8) 100%
      );
      transform: rotateZ(45deg) scale(1.5);
    }
  }

  &--09 {
    left: 22.6%;
    top: -17.9%;
    width: 6.63%;
    height: 8.83%;
    background: var(--hiq-color-primary);
    transform: rotateZ(-52deg);

    &::before {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.6) 100%
      );
      transform: rotateZ(45deg) scale(1.5);
    }
  }

  &--10 {
    left: -6.8%;
    top: 4.3%;
    width: 3.03%;
    height: 4.04%;
    background: var(--hiq-color-primary);
    transform: rotateZ(-50deg);
    opacity: 0.3;
  }
}

/* mobile specific styles */
@media (max-width: 767px) {
  .hero__cta {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;

    a {
      display: flex;

      + a {
        margin-top: 16px;
      }
    }
  }

  .hero__figure::after,
  .hero__box--03,
  .hero__box--04,
  .hero__box--09 {
    display: none;
  }
}

/* desktop specific styles */
@media (min-width: 768px) {
  .hero {
    text-align: left;
    padding-top: 64px;
    padding-bottom: 88px;

    &__inner {
      /* split hero in half */
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__copy {
      padding-right: 64px;
      min-width: 552px;
      width: 552px;
    }

    &__cta {
      margin: 0;

      .btn {
        min-width: 170px;

        &:first-child {
          margin-right: 16px;
        }
      }
    }

    &__figure {
      svg {
        width: auto;
      }
    }
  }
}

/* Animations */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
