@import "./theme/prism.css";
@import "./theme/hiq.css";
@import "./hero.css";
@import "./navbar.css";
@import "./button.css";
@import "./technologies.css";
@import "./blog-page.css";
@import "./post.css";

:root {
  /* font families */
  --hiq-font-family-base: "Fira Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --hiq-font-family-monospace: Hack, JetBrains Mono, DejaVu Sans Mono, Consolas,
    Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --hiq-speed: 0.2s;

  --shadow-mid: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.09);
}

body {
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--hiq-color-primary);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--hiq-color-gray-6);
  }
}

/* margin to fit navbar + a bit of spacing*/
.layout {
  margin-top: 80px;
}

h1 {
  font-family: "IBM Plex Sans", "Fira Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

.pill {
  font-family: "IBM Plex Sans";
  padding: 5px 15px;
  background-color: var(--hiq-color-gray-7);
  color: var(--hiq-color-success);
  border: 1px solid var(--hiq-color-gray-6);
  height: 30px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
