@import "./theme/prism.css";
@import "./theme/hiq.css";
@import "./hero.css";
@import "./navbar.css";

:root {
  /* font families */
  --hiq-font-family-base: "Fira Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --hiq-font-family-monospace: Hack, JetBrains Mono, DejaVu Sans Mono, Consolas,
    Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  /* no hiq animations */
  /* --hiq-speed: 0s; */
}

body {
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--hiq-color-primary);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--hiq-color-gray-6);
  }
}

/* margin to fit navbar + a bit of spacing*/
.layout {
  margin-top: 80px;
}
