.navbar {
  position: fixed;
  top: 0;
  z-index: 500;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;

  &--open {
    height: 100%;

    .navbar__menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      padding-top: 85px;

      [aria-current] {
        font-weight: 800;
      }

      a {
        font-size: 40px;
        padding: 20px;
        width: 100%;
        text-align: center;
      }
    }
  }

  &__container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__menu {
    display: none;
  }
}

/* style react-toggle overrides */
.react-toggle-track {
  background-color: var(--hiq-color-gray-7) !important;
}
.react-toggle-thumb {
  border-color: rgb(32, 32, 32) !important;
}

.react-toggle--focus {
  .react-toggle-thumb {
    box-shadow: 0 0 2px 3px var(--hiq-color-primary) !important;
  }
}
