[data-theme="light"] {
  .navbar {
    background-color: rgba(23, 22, 40, 0.68);
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 500;
  height: 65px;
  background-color: rgba(20, 29, 31, 0.35);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid rgba(20, 29, 31, 0.2);
  width: 100%;
  letter-spacing: 0.5px;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-transform: uppercase;

  [aria-current] {
    font-weight: 800;
  }

  /* mobile open styles  */
  &--open {
    @media (max-width: 767px) {
      animation: fadeBg 0.4s forwards;

      .navbar__mobile-menu {
        visibility: visible;
        a {
          transition: 0.2s ease-out;
          opacity: 1;

          &:nth-of-type(1) {
            transition-delay: 60ms;
          }
          &:nth-of-type(2) {
            transition-delay: 120ms;
          }
          &:nth-of-type(3) {
            transition-delay: 180ms;
          }
          &:nth-of-type(4) {
            transition-delay: 240ms;
          }
        }
      }
    }
  }

  &__container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__desktop-menu {
    display: none;
    height: 100%;

    @media (min-width: 768px) {
      display: flex;
    }

    a {
      font-size: 18px;
      padding: 0 20px;
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;

      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  &__mobile-menu {
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding-top: 5vh;

    @media (min-width: 768px) {
      display: none;
    }

    a {
      opacity: 0;
      font-size: 28px;
      padding: 20px;
      width: 100%;
      text-align: center;

      /* in case people turn their phones sideways on very small screens? */
      @media (max-height: 400px) {
        font-size: 14px;
      }

      @media (min-width: 768px) {
        font-size: 36px;
      }
    }
  }

  /* remove default button styles */
  &__toggle,
  &__toggle:hover,
  &__toggle:focus {
    background: none;
    background-color: none;
    color: #fff;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 300ms;
    user-select: none;
    padding: 0;
  }

  &__toggle {
    height: 50px;
    width: auto;
    margin-left: -15px;

    .navbar__burger {
      height: 50px;
      width: 50px;
      overflow: hidden;
      vertical-align: middle;
      fill: #fff;

      path {
        fill: none;
        stroke: #fff;
        transition: stroke-dasharray 300ms, stroke-dashoffset 300ms;
        stroke-width: 4;
        stroke-linecap: round;

        &:nth-of-type(1) {
          stroke-dasharray: 40 160;
        }

        &:nth-of-type(2) {
          stroke-dasharray: 40 142;
          transform-origin: 50%;
          transition: transform 300ms;
        }

        &:nth-of-type(3) {
          stroke-dasharray: 40 85;
          transform-origin: 50%;
          transition: transform 300ms, stroke-dashoffset 300ms;
        }
      }
    }

    .navbar__burger {
      &--active {
        transform: rotate(45deg);

        path {
          &:nth-of-type(1) {
            stroke-dashoffset: -64px;
          }

          &:nth-of-type(2) {
            transform: rotate(90deg);
          }

          &:nth-of-type(3) {
            stroke-dashoffset: -64px;
          }
        }
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

/* style react-toggle overrides */
.react-toggle-track {
  background-color: var(--hiq-color-gray-7) !important;
}
.react-toggle-thumb {
  border-color: rgb(32, 32, 32) !important;
}

.react-toggle--focus {
  .react-toggle-thumb {
    box-shadow: 0 0 2px 3px var(--hiq-color-primary) !important;
  }
}

@keyframes fadeBg {
  0% {
    height: 100%;
    opacity: 0.5;
  }

  100% {
    height: 100%;
    opacity: 1;
  }
}

/* firefox specific background color */
@-moz-document url-prefix() {
  .navbar {
    background-color: rgba(29, 29, 31, 0.9);
  }
}

/* used to allow us to still have blur on the background but no scrolling on the html element when menu open */
.no-scroll {
  overflow: hidden;
}
