.post {
  &__footer {
    padding: 20px 0;
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 15px 0;
      }
    }
  }

  hr {
    height: 1px;
  }

  header {
    display: flex;
    padding-top: 50px;
    margin-bottom: 60px;

    word-break: break-word;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      padding-top: 100px;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 15px;
    }

    span {
      font-size: 14px;
      font-weight: 200;
      color: var(--hiq-color-gray-4);
      font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    }

    a {
      display: inline-block;
      font-size: 14px;
    }

    img {
      width: 45px;
      height: 45px;
      margin-right: 20px;

      @media (min-width: 768px) {
        width: 100px;
        height: 100px;
        margin-top: 5px;
      }
    }
  }

  ul {
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 10px;
  }

  span,
  p,
  figure,
  section,
  header,
  main,
  blockquote,
  ul,
  ol {
    color: var(--hiq-color-gray-3);
  }

  h1,
  h2,
  h3 {
    margin-top: 60px;
  }

  h4,
  h5,
  h6 {
    margin-top: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--hiq-color-gray-1);
    position: relative;

    &:hover {
      a {
        opacity: 1;
      }
    }
    a {
      opacity: 0;
      position: absolute;
      left: -20px;
    }
  }

  blockquote {
    padding-left: 10px;
    border-left: 1px solid var(--hiq-color-success);

    span,
    p {
      color: var(--hiq-color-gray-4);
      font-style: italic;
      font-size: calc(var(--hiq-unitless-max-font-size, 16) * 1px);
    }
  }
}
