.technologies {
  font-family: "IBM Plex Sans";
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin-bottom: 50px;
  }

  &__row {
    display: flex;
    width: auto;
    flex-wrap: wrap;

    margin: 50px 0;
  }
}

.technology {
  user-select: none;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  transition: box-shadow 0.2s ease-out;
  margin-right: 10px;

  &:hover {
    span {
      opacity: 1;
    }
  }

  img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
  }

  span {
    transition: 0.2s ease-out;
    opacity: 0;
    font-size: 12px;
    font-weight: 500;

    @media (min-width: 350px) {
      font-size: 14px;
    }
  }
}
