[data-theme="dark"] {
  /* gray palette */
  --hiq-color-gray-8: #282c34;
  --hiq-color-gray-7: #4b5263;
  --hiq-color-gray-6: #5c6370;
  --hiq-color-gray-5: #5c6370;
  --hiq-color-gray-4: #8f96a3;
  --hiq-color-gray-3: #e3e5e8;
  --hiq-color-gray-2: #f1f2f4;
  --hiq-color-gray-1: #f9fafa;

  /* semantic palette */
  --hiq-color-primary: #61afef;
  --hiq-color-success: #98c379;
  --hiq-color-warning: #e5c07b;
  --hiq-color-danger: #e06c75;

  /* applied colors */
  --hiq-html-background-color: var(--hiq-color-gray-8);
  --hiq-body-background-color: var(--hiq-color-gray-8);
  --hiq-disabled-border-color: var(--hiq-color-gray-4);
  --hiq-disabled-background-color: var(--hiq-color-gray-4);
  --hiq-disabled-text-color: var(--hiq-color-gray-3);
}

[data-theme="light"] {
  /* gray palette */
  --hiq-color-gray-1: #1c110a;
  --hiq-color-gray-2: hsl(220, 10%, 10%);
  --hiq-color-gray-3: hsl(220, 10%, 20%);
  --hiq-color-gray-4: hsl(220, 10%, 40%);
  --hiq-color-gray-5: hsl(220, 10%, 60%);
  --hiq-color-gray-6: hsl(220, 10%, 90%);
  --hiq-color-gray-7: hsl(220, 10%, 95%);
  --hiq-color-gray-8: hsl(220, 10%, 98%);

  /* semantic palette */
  --hiq-color-primary: #ffa7c4;
  --hiq-color-success: #8593bc;
  --hiq-color-warning: #f0b67f;
  --hiq-color-danger: #fe5f55;

  /* applied colors */
  --hiq-html-background-color: #fafafa;
  --hiq-body-background-color: #fafafa;

  /* borders outlines */
  --hiq-outline-color: hsl(210, 100%, 85%);

  /* inline text elements */
  --hiq-mark-color: hsl(50, 81%, 94%);
  --hiq-deleted-color: hsl(331, 93%, 67%);
  --hiq-inserted-color: hsl(210, 100%, 95%);

  /* user selection */
  --hiq-selection-color: hsl(210, 100%, 90%);

  /* links */
  --hiq-link-color: #ffa7c4;
  --hiq-link-hover-color: #ff4281;
  --hiq-link-active-color: #ff4281;
  --hiq-link-text-decoration: none;

  /* buttons */
  --hiq-button-hover-border-color: #ff4281;
  --hiq-button-hover-background-color: #ff4281;
  --hiq-button-active-border-color: #ff4281;
  --hiq-button-active-background-color: hsl(340, 100%, 53%);
}
