[data-theme='dark'] {
  /* gray palette */
  --hiq-color-gray-8: #282c34;
  --hiq-color-gray-7: #4b5263;
  --hiq-color-gray-6: #5c6370;
  --hiq-color-gray-5: #5c6370;
  --hiq-color-gray-4: #8f96a3;
  --hiq-color-gray-3: #e3e5e8;
  --hiq-color-gray-2: #f1f2f4;
  --hiq-color-gray-1: #f9fafa;

  /* semantic palette */
  --hiq-color-primary: #61afef;
  --hiq-color-success: #98c379;
  --hiq-color-warning: #e5c07b;
  --hiq-color-danger: #e06c75;

  /* applied colors */
  --hiq-html-background-color: var(--hiq-color-gray-8);
  --hiq-body-background-color: var(--hiq-color-gray-8);
  --hiq-disabled-border-color: var(--hiq-color-gray-4);
  --hiq-disabled-background-color: var(--hiq-color-gray-4);
  --hiq-disabled-text-color: var(--hiq-color-gray-3);
}

[data-theme='light'] {
  /* gray palette */
  --hiq-color-gray-1: #0b0c0e;
  --hiq-color-gray-2: #17191c;
  --hiq-color-gray-3: #2e3138;
  --hiq-color-gray-4: #5c6370;
  --hiq-color-gray-5: #8f96a3;
  --hiq-color-gray-6: #e3e5e8;
  --hiq-color-gray-7: #f1f2f4;
  --hiq-color-gray-8: #fafafa;

  /* semantic palette */
  --hiq-color-primary: #39adb5;
  --hiq-color-success: #82a550;
  --hiq-color-warning: #ffad13;
  --hiq-color-danger: #e53935;

  /* applied colors */
  --hiq-html-background-color: var(--hiq-color-gray-8);
  --hiq-body-background-color: var(--hiq-color-gray-8);
  --hiq-disabled-border-color: var(--hiq-color-gray-7);
  --hiq-disabled-background-color: var(--hiq-color-gray-7);
  --hiq-disabled-text-color: var(--hiq-color-gray-5);

  /* buttons */
  --hiq-button-hover-border-color: #2d898f;
  --hiq-button-hover-background-color: #2d898f;
  --hiq-button-active-border-color: #2d898f;
  --hiq-button-active-background-color: #216469;

  /* links */
  --hiq-link-hover-color: #2d898f;
  --hiq-link-active-color: #216469;
}
