@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  :root {
    /* gray palette */
    --hiq-color-gray-8: #282c34;
    --hiq-color-gray-7: #2f343d;
    --hiq-color-gray-6: #5c6370;
    --hiq-color-gray-5: #5c6370;
    --hiq-color-gray-4: #8f96a3;
    --hiq-color-gray-3: #e3e5e8;
    --hiq-color-gray-2: #f1f2f4;
    --hiq-color-gray-1: #f9fafa;

    /* semantic palette */
    --hiq-color-primary: #61afef;
    --hiq-color-primary-lighter: #78bcf3;
    --hiq-color-success: #98c379;
    --hiq-color-warning: #e5c07b;
    --hiq-color-danger: #e06c75;

    /* applied colors */
    --hiq-html-background-color: var(--hiq-color-gray-8);
    --hiq-body-background-color: var(--hiq-color-gray-8);
    --hiq-disabled-border-color: var(--hiq-color-gray-4);
    --hiq-disabled-background-color: var(--hiq-color-gray-4);
    --hiq-disabled-text-color: var(--hiq-color-gray-3);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* gray palette */
    --hiq-color-gray-1: #1c110a;
    --hiq-color-gray-2: #17191c;
    --hiq-color-gray-3: #2e3138;
    --hiq-color-gray-4: #5c6370;
    --hiq-color-gray-5: #8f96a3;
    --hiq-color-gray-6: #e3e5e8;
    --hiq-color-gray-7: #e8ecec;
    --hiq-color-gray-8: #f9fafa;

    /* semantic palette */
    --hiq-color-primary: #ff82ac;
    --hiq-color-primary-lighter: #f18fb0;
    --hiq-color-success: #8593bc;
    --hiq-color-warning: #f0b67f;
    --hiq-color-danger: #fe5f55;

    /* applied colors */
    --hiq-html-background-color: #fafafa;
    --hiq-body-background-color: #fafafa;

    /* borders outlines */
    --hiq-outline-color: #b3d9ff;

    /* inline text elements */
    --hiq-mark-color: #fcf8e3;
    --hiq-deleted-color: #f95da8;
    --hiq-inserted-color: #e5f2ff;

    /* user selection */
    --hiq-selection-color: #cce6ff;

    /* links */
    --hiq-link-color: #ff82ac;
    --hiq-link-hover-color: #ff4281;
    --hiq-link-active-color: #ff4281;
    --hiq-link-text-decoration: none;

    /* buttons */
    --hiq-button-hover-border-color: #ff4281;
    --hiq-button-hover-background-color: #ff4281;
    --hiq-button-active-border-color: #ff4281;
    --hiq-button-active-background-color: #ff0f5f;
  }
}
